body {
    background-color: cornflowerblue;
    font-family: sans-serif;
    color: azure;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50vh;
}

.button-container {
    text-align: center;
    margin-top: 50px;
    border-style: solid;
    border-width: 10;
    border-color: rgb(255, 106, 0);
}

td {
    text-align: center; 
    vertical-align: middle; 
    padding: 10px; 
    cursor: pointer;
}